# Data Science Tools and Ecosystem

## Author
Youssof Sallam

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular language that Data Scientist use
- List commonly used libraries used by Data Scientists
- List popular data science tools used

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Spark     |
| Tableau         |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [6]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60:

200/60

3.3333333333333335